.body{
    background: url('../../public/images/fondo.jpg') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
    
}

.container{
    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    
   
}
.containerEmpty{
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
   color: whitesmoke
    
}

