::-webkit-scrollbar {
     display: none;
 }

.home{
     background: url('../../public/images/fondo.jpg') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     
     
     
     
}

/* .SearchContainer{
     display: flex;
     flex-direction: column;
     align-items: center;  
} */

.nav{
     display:flex;
     flex-direction:row;
     width: 100%;
     
}



.movieContainer{
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     justify-content: space-around;
     height: 100vh

}

.data{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;     
    
     height: 12rem;
     width:40rem;
     color:bisque;
     padding: 2rem;
     margin: 4rem;
     background-color: rgba(128, 128, 128, 0.24);
     backdrop-filter: blur(7px);


}