.body{
    background: url('../../public/images/fondo.jpg ') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center; 
     /* justify-content: center */
}

.container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 15rem 15rem ;
    grid-template-areas:
            "image data data"
            "image data data";

       /*  "header header header header"
        ".      nav    main   .     "
        "footer footer footer footer" */
        /* border: 2px solid rgb(37, 37, 39); */
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        margin-top: 3rem
}

.container .image {
    grid-area: image;
}
.container .data {
    grid-area: data;
}

.data{
    padding: 3rem;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    color: #fff;
    background-color: rgb(69, 73, 73);

}
