.body{
    background: url('../../public/images/fondo.jpg ') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center; 
   /*   justify-content: center  */
}

.container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 15rem 15rem ;
    grid-template-areas:
            "image data data"
            "image data data";
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 4rem
}

.container .image {
    grid-area: image;
    height: 25rem;
    width: 18rem

}
.container .data {
    grid-area: data;
}

.data{
    padding: 3rem;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.24);
    backdrop-filter: blur(9px);

}

.spinner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80px;
    height: 80px;
    color:#fff;
    margin-top: 10rem;
  }
  .spinner:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 80px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1.2s infinite;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
  @media screen and (max-width: 375px) {
    .container{
      display: grid;
      grid-template-rows: 2fr;
      grid-template-columns: auto;
      grid-template-areas:
              "image"
              "data";
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      margin-top: 4rem;
     
  }

  .container .image {
    grid-area: image;
    height: 25rem;
    width: 90%;
    
    
  }

  .container .data {
    grid-area: data;
    width: 90%;
    border:2px solid greenyellow
}
/* .flex{
  display:flex;
  justify-content: center;
  align-items: center;
  border:2px solid greenyellow;
} */
}